<html>
    <head>
        <meta charset="utf-8">
        <title>Yeni Kullanıcı oluştur</title>
            <link rel="icon" href="./images/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <style>
            img {
                height: 100;
                width: 150;
            }
            label {
                font-family: 'Courier New', Courier, monospace;
            }
            input {
                box-sizing: border-box;
            }
        </style>
        <center><img src="./images/login/login.png"></center>
        <form>
        <label for="_usr">Kullanıcı Adı</label><br>
        <input type="text"><br>
        <label for="_paswd">Şifre</label><br>
        <input type="password" id="pwd" name="paswd">
        </form>
    </body>
</html>